<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleHelpBookFolder</key>
	<string>SortEngineHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>net.script-factory.SortEngine.help</string>
	<key>CFBundleIdentifier</key>
	<string>net.script-factory.SortEngine</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2</string>
	<key>CFBundleVersion</key>
	<string>2.2</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2003-2017, Tetsuro KURITA</string>
	<key>WindowState</key>
	<dict>
		<key>bundleDividerCollapsed</key>
		<false/>
		<key>bundlePositionOfDivider</key>
		<real>411</real>
		<key>dividerCollapsed</key>
		<false/>
		<key>eventLogLevel</key>
		<integer>2</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>474</real>
		<key>savedFrame</key>
		<string>155 127 710 723 0 0 1440 877 </string>
		<key>selectedTab</key>
		<string>log</string>
	</dict>
</dict>
</plist>
